<div class="index-banner">
  <div class="banner-content">
    <h1>Find a kick ass developer</h1>
    <div class="form-width">
      <%= form_tag developers_path, method: "get", class: "flex-form" do %>
      <%= text_field_tag :programming_language, @search, placeholder: "Search by programming language" %>
      <%= text_field_tag :budget, @search, placeholder: "Budget" %>
      <% end %>
    </div>
  </div>
  <%= image_tag('love-tjenga.png', class: "love") %>
</div>


<div class="wrapper">
  <div class="container">
    <div class="row">


      <% @developers.each do |developer| %>
      <div class="col-xs-12 col-sm-6">
        <div class="dev-box">


          <% if developer.works.blank? %>
            <div class="dev-card-img-box" style="background-image: linear-gradient(to bottom,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.55) 100%)">
              <%= link_to " ", developer_path(developer), class: "dev-link" %>
              <%= image_tag "", class: "dev-card-img-box" %>
              <div class="dev-content-box">
                <div class="dev-avatar-box">
                  <%= cl_image_tag developer.photo, height: 40, width: 40, crop: :fill, class: "dev-avatar" %>
                </div>
                <div class="dev-title-box">
                  <div><%= developer.first_name %> <%= developer.last_name %></div>
                  <div><%= developer.expertise.capitalize %> developer</div>
                </div>
              </div>
            </div>
          <% else %>

            <div class="dev-card-img-box" style="background-image: linear-gradient(to bottom,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.55) 100%), url('<%= developer.works.first.photo.url %>')">
              <%= link_to " ", developer_path(developer), class: "dev-link" %>

              <div class="dev-content-box">
                <div class="dev-avatar-box">
                  <%= cl_image_tag developer.photo, height: 40, width: 40, crop: :fill, class: "dev-avatar" %>
                </div>
                <div class="dev-title-box">
                  <div><%= developer.first_name %> <%= developer.last_name %></div>
                  <div><%= developer.expertise.capitalize %> developer</div>
                </div>
              </div>
            </div>

          <% end %>

          <div class="dev-skill-box">
            <div class="dev-element-box">
              <div class="program_lang">Specialties</div>
              <table>
                <tbody>
                  <% developer.programming_languages[0..2].each do |l| %>
                    <tr>
                      <td class="skill-name"><span><%= l.name %></span></td>
                      <td class="skill-level"><span><% l.level.times do %>
                        <i class="fa fa-star"></i>
                        <% end %></span>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            <div class="dev-element-box">
             <div class="program_lang">Tools</div>
              <% developer.tools[0..2].each do |t| %>
                <div class="skill-name"><%= t.name.capitalize %></div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="space">
</div>

<!-- <div class="container">
  <div class="row">
        <% @developers.each do |developer| %>
          <div class="col-xs-12">

            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('banner.jpg');" >

            <%= developer.first_name %> <%= developer.last_name %>
            <%= developer.price_per_hour %>
            <% developer.programming_languages.each do |l| %>
              <%= l.name %>
            <% end %>

            </div>
          </div>
        <% end %>
  </div>
</div> -->



<!-- <div class="container">
  <div class="row">
        <% @developers.each do |developer| %>
          <div class="col-xs-12">
              <% developer.works.each do |w| %>
                <%= w.photo %>
              <% end %>

              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path developer.photo, height: 300, width: 300, crop: :fill %>');" >

              <%= developer.first_name %> <%= developer.last_name %>
              <%= developer.price_per_hour %>
              <% developer.programming_languages.each do |l| %>
                <%= l.name %>
              <% end %>

                </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
-->



