<div class="index-banner">
  <div class="banner-content dev-control">
      <h1>Find a kick ass developer</h1>
  </div>
    <%= image_tag('love-tjenga.png', class: "love") %>
</div>


<div class='is-flex'>
  <div class="wrapper-search">
    <div class="search-by">
      EXPERTISE
    </div>
    <div class="dev-control">
      <% @available_expertises.each do |expertise| %>
        <% if @selected_expertise == expertise %>
          <%= link_to expertise.capitalize, developers_path(developer_filters(expertise: nil)), class: "search-elements active" %>
        <% else %>
          <%= link_to expertise.capitalize, developers_path(developer_filters(expertise: expertise)), class: "search-elements" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="wrapper-search">
    <div class="search-by">
      PROGRAMMING LANGUAGE
    </div>
    <div class="dev-control">
      <% @available_programming_languages.each do |programming_language| %>
        <% if @selected_programming_language == programming_language %>
          <%= link_to programming_language, developers_path(developer_filters(programming_language: nil)), class: "search-elements active" %>
        <% else %>
          <%= link_to programming_language, developers_path(developer_filters(programming_language: programming_language)), class: "search-elements" %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="wrapper-search">
    <div class="search-by">
      SKILL
    </div>
    <div class="dev-control">
      <% @available_tools.each do |tool| %>
        <% if @selected_tool == tool %>
          <%= link_to tool.capitalize, developers_path(developer_filters(tool: nil)), class: "search-elements active" %>
        <% else %>
          <%= link_to tool.capitalize, developers_path(developer_filters(tool: tool)), class: "search-elements" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>



<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="developer-empty">
        <% if @developers.empty? %>
          <div style="margin-top: 50px;"><%= image_tag "no-clue.png", class: "no-clue-control" %></div>
          <div style="padding-top: 36px;">No developers available with the choosen search options</div>
        <% end %>
      </div>
      <% @developers.each do |developer| %>
      <div class="col-xs-12 col-sm-6">
        <div class="dev-box">


          <% if developer.works.blank? %>
            <div class="dev-card-img-box" style="background-image: linear-gradient(to bottom,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.55) 100%)">
              <%= link_to " ", developer_path(developer), class: "dev-link" %>
              <%= image_tag "", class: "dev-card-img-box" %>
              <div class="dev-content-box">
                <div class="dev-avatar-box">
                  <%= cl_image_tag developer.photo, height: 40, width: 40, crop: :fill, class: "dev-avatar" %>
                </div>
                <div class="dev-title-box">
                  <div><%= developer.first_name %> <%= developer.last_name %></div>
                  <% if developer.expertise.nil?  %>
                    <p>No expertise</p>
                  <% else %>
                    <div><%= developer.expertise.capitalize %> developer</div>
                  <% end %>
                </div>
              </div>
            </div>
          <% else %>

            <div class="dev-card-img-box" style="background-image: linear-gradient(to bottom,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.55) 100%), url('<%= developer.works.first.photo.url %>')">
              <%= link_to " ", developer_path(developer), class: "dev-link" %>

              <div class="dev-content-box">
                <div class="dev-avatar-box">
                  <%= cl_image_tag developer.photo, height: 40, width: 40, crop: :fill, class: "dev-avatar" %>
                </div>
                <div class="dev-title-box">
                  <div><%= developer.first_name %> <%= developer.last_name %></div>
                  <% if developer.expertise.nil?  %>
                    <p>No expertise</p>
                  <% else %>
                    <div><%= developer.expertise.capitalize %> developer</div>
                  <% end %>
                </div>
              </div>
            </div>

          <% end %>

          <div class="dev-skill-box">
            <div class="dev-element-box">
              <div class="program_lang">Languages</div>
              <table>
                <tbody>
                  <% developer.programming_languages[0..2].each do |l| %>
                    <tr>
                      <td class="skill-name"><span><%= l.name %></span></td>
                      <td class="skill-level"><span><% l.level.times do %>
                        <i class="fa fa-star"></i>
                        <% end %></span>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            <div class="dev-element-box">
             <div class="program_lang">Skills</div>
              <% developer.tools[0..2].each do |t| %>
                <div class="skill-name"><%= t.name.capitalize %></div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="space">
</div>

<!-- <div class="container">
  <div class="row">
        <% @developers.each do |developer| %>
          <div class="col-xs-12">

            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('banner.jpg');" >

            <%= developer.first_name %> <%= developer.last_name %>
            <%= developer.price_per_hour %>
            <% developer.programming_languages.each do |l| %>
              <%= l.name %>
            <% end %>

            </div>
          </div>
        <% end %>
  </div>
</div> -->



<!-- <div class="container">
  <div class="row">
        <% @developers.each do |developer| %>
          <div class="col-xs-12">
              <% developer.works.each do |w| %>
                <%= w.photo %>
              <% end %>

              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path developer.photo, height: 300, width: 300, crop: :fill %>');" >

              <%= developer.first_name %> <%= developer.last_name %>
              <%= developer.price_per_hour %>
              <% developer.programming_languages.each do |l| %>
                <%= l.name %>
              <% end %>

                </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
-->



