<div class="banner red">
  <div class="banner-content">
    <h1>Find a kick ass developer</h1>
    <div class="form-width">
      <%= form_tag developers_path, method: "get", class: "flex-form" do %>
        <%= text_field_tag :programming_language, @search, placeholder: "Search by programming language" %>
        <%= text_field_tag :budget, @search, placeholder: "Budget" %>
      <% end %>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">


    <% @developers.each do |developer| %>
    <div class="col-xs-12 col-sm-6">
      <div class="developer_card">
      <%= link_to "", developer_path(developer), class: "developer_link" %>
        <% if developer.works.blank? %>
          <div class="developer_card_img" style="background-image: url('http://placeholder.it')" >
          </div>
        <% else %>
          <div class="developer_card_img" style="background-image: url('<%= developer.works.first.photo.url %>')">
          </div>
        <% end %>
        <div class="developer_avatar" style="background-image: url('<%= developer.photo.url %>')" >
        </div>
        <div class="developer_stars">
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o" ></i>
        </div>
        <div class="developer_expertise_box">
          <div class="developer_name"><strong><%= developer.first_name %> <%= developer.last_name %></strong></div>
          <div class="developer_expertise"><%= developer.expertise %> developer</div>
        </div>
        <div class="developer_languages">
        <p><strong>Programming languages</strong></p>
          <% developer.programming_languages.each do |l| %>
            <%= l.name %>  <% l.level.times do %>
              <i class="fa fa-star"></i>
            <% end %>
          <% end %>
        </div>
        <div class="developer_tools">
        <p><strong>Tools</strong></p>
          <% developer.tools.each do |t| %>
            <%= t.name %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>


  </div>
</div>

<div class="space">
</div>

<!-- <div class="container">
  <div class="row">
        <% @developers.each do |developer| %>
          <div class="col-xs-12">

            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('banner.jpg');" >

            <%= developer.first_name %> <%= developer.last_name %>
            <%= developer.price_per_hour %>
            <% developer.programming_languages.each do |l| %>
              <%= l.name %>
            <% end %>

            </div>
          </div>
        <% end %>
  </div>
</div> -->



<!-- <div class="container">
  <div class="row">
        <% @developers.each do |developer| %>
          <div class="col-xs-12">
              <% developer.works.each do |w| %>
                <%= w.photo %>
              <% end %>

              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path developer.photo, height: 300, width: 300, crop: :fill %>');" >

              <%= developer.first_name %> <%= developer.last_name %>
              <%= developer.price_per_hour %>
              <% developer.programming_languages.each do |l| %>
                <%= l.name %>
              <% end %>

                </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
 -->



