<div class="dev-banner">

  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-1 col-sm-offset-2">
       <div class="photo">
        <%= cl_image_tag @developer.photo, class: "avatar-xlarge" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="dev-name">
        <h3><%= @developer.first_name %> <%= @developer.last_name %></h3>
        <p><%= @developer.expertise.capitalize %></p>
        <p><%= @developer.availability.capitalize %></p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="dev-details">

        <h3>Contact Details</h3>
        <p><%= @developer.address.capitalize %> </p>
        <p> <%= @developer.city.capitalize %> </p>
        <p> <%= @developer.email %> </p>

      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <% if developer_signed_in? || client_signed_in? %>
      <div class="dev-btn text-center">
        <%= link_to "Work with me", "#", class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>

<div class="container">
  <div class="row">

    <h2 class="text-center">Reviews</h2>
    <hr>
    <% @reviews.each do |review| %>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="review">
        <div class="review-image">
        <%= cl_image_tag review.author.photo, class: "avatar-large" %>
        </div>
        <div class="review-body">
          <% review.rating.times do %>
          <i class="fa fa-star"></i>
          <% end %>
          <% (5 - review.rating).times do %>
          <i class="fa fa-star-o"></i>
          <% end %>
          <p><%= review.description %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <h2 class="text-center">Recommendations</h2>
    <%  @recommendations.each do |recommendation|%>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= cl_image_tag recommendation.author.photo, class: "avatar" %>
      <p>- <%= recommendation.content  %></p>
      <% end %>

      <% if developer_signed_in? || client_signed_in? %>
      <%= link_to "Write a recommendation for #{@developer.first_name}", new_developer_recommendation_path(@developer), class: 'btn btn-default' %>
    </div>
    <% end %>
  </div>
</div>
