<div class="dev-banner">
  <div class="container text-center">
    <h3><%= @developer.first_name %> <%= @developer.last_name %></h3>
    <hr style="border-top: 1px solid grey;">
    <div class="developer-header">
      <div class="developer-info">
       <div class="photo">
        <%= cl_image_tag @developer.photo, class: "avatar-xlarge" %>
      </div>
    </div>

    <div class="developer-info">
      <div class="dev-name">
        <em><p>Expertise:</p></em>
        <p><%= @developer.expertise.capitalize %></p>
        <em><p>Availability:</p></em>
        <p><%= @developer.availability.capitalize %></p>
      </div>
    </div>

    <div class="developer-info">
      <div class="dev-details">

        <h3 style="margin-top: 0px;">Contact Details</h3>
        <p><i class="fa fa-envelope-o"></i><%= @developer.email %> </p>
        <p><i class="fa fa-phone"></i><%= @developer.phone_number %></p>
      </div>
    </div>

    <div class="developer-info">
      <% #link_to "Work with me", class: "btn btn-success" %>
      <%= mail_to "matthijs@gmail.com", "Contact me", class: "btn btn-success" %>
    </div>
  </div>
</div>
</div>

<div class="wrapper">

  <div class="container is-small light-grey">
    <div class="text-center">

      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="card-info">
          <h4>Languages </h4>
            <div class="card-dev">
              <% @developer.programming_languages.each do |pl| %>
              <p><%= pl.name.capitalize %></p>
              <hr>
              <% end %>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4">
          <div class="card-info">
            <h4>Tools </h4>
            <div class="card-dev">
              <% @developer.tools.each do |tool| %>
              <p><%= tool.name.capitalize %></p>
              <hr>
              <% end %>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4">
          <div class="card-info">
            <h4>Price per hour </h4>
            <div class="card-dev" style="padding-top: 0px;background: #303841;color: white;">
              <p style="padding: 10px;">
                <i class="fa fa-euro"></i> <%= @developer.price_per_hour %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>

<div class="wrapper">

  <div class="container is-small light-grey">
    <h3 class="text-center">Projects</h3>
    <hr>
    <div class="work">
     <% @works.each do |work| %>
     <div class="work-item">
       <div class="work-image", style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path work.photo, crop: :fill %>');">
         <div class="work-description">
           <%= link_to work.website_url do %>
           <h4><%= work.title %></h4>
           <% end %>
           <%= work.description %>
         </div>
       </div>
     </div>
     <% end %>
   </div>
 </div>
</div>

<% if @reviews.size > 0 %>

<div class="wrapper">
  <div class="container is-small light-grey">

    <h3 class="text-center">Reviews</h3>
    <hr>
    <% @reviews.each do |review| %>
    <div class="review">
      <div class="review-image">
        <%= cl_image_tag review.author.photo, class: "avatar-large" %>
      </div>
      <div class="review-body">
        <% review.rating.times do %>
        <i class="fa fa-star"></i>
        <% end %>
        <% (5 - review.rating).times do %>
        <i class="fa fa-star-o"></i>
        <% end %>
        <p><%= review.description %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>

<% else %>
  <div class="wrapper">
   <div class="container is-small light-grey">
    <h3 class="text-center">Reviews</h3>
    <div class="review-empty">
      <p>No reviews yet. <%= link_to 'Log in', new_developer_application_review_path(@developer) %> to write a new review.</p>
    </div>
   </div>
  </div>
<% end %>

<div class="wrapper">
  <div class="container is-small light-grey">
    <% if @recommendations.size > 0 %>
    <h3 class="text-center">Recommendations</h3>
    <%  @recommendations.each do |recommendation|%>
    <%= cl_image_tag recommendation.author.photo, class: "avatar" %>
    <p>- <%= recommendation.content  %></p>
    <% end %>
    <% end %>
    <% if developer_signed_in? || client_signed_in? %>
    <%= link_to "Write a recommendation for #{@developer.first_name}", new_developer_recommendation_path(@developer), class: 'btn btn-default' %>
    <% end %>
  </div>
</div>
