<div class="container">
  <div class="text-center">
  <h1>Dev: <%= @developer.first_name %> <%= @developer.last_name %></h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-7 col-sm-offset-4">

      <h2>Reviews</h2>
      <% @reviews.each do |review| %>
      <div class="product">
        <div class="product-image">
        </div>
        <div class="product-body">
          <% review.rating.times do %>
          <i class="fa fa-star"></i>
          <% end %>
          <% (5 - review.rating).times do %>
          <i class="fa fa-star-o"></i>
          <% end %>
          <%= review.description %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <h2>Recommended by:</h2>
  <%  @recommendations.each do |recommendation|%>
    <p>- <%= recommendation.content  %></p>
  <% end %>

  <%= link_to "Write a recommendation for #{@developer.first_name}", new_developer_recommendation_path(@developer), class: 'btn btn-default' %>
</div>
