<%  @categories = ['Portfolio', 'Webshop', 'Internal application'] %>

<!-- <div class="container form"> -->
  <div class="form-container">
    <h1 class='text-center'>CREATE A NEW JOB</h1>
    <hr style="width: 20em;">
      <%= simple_form_for([:client, @job]) do |f| %>
      <%= f.error_notification %>

      <%= f.input :title%>
      <%= f.input :description %>
      <%= f.input :budget %>
      <%= f.input :duration %>
      <%= f.input :difficulty_level %>
      <%= f.input :start_date %>
      <%= f.input :deadline %>
      <%= f.input :request_type, :collection => @categories %>
      <%= f.submit class: "btn btn-primary" %>
      <% end %>
  </div>
<!-- </div> -->
