<%  @categories = ['Front-end', 'Back-end', 'Full-stack'] %>
<%  @level = ["internship", "traineeship", "Beginner", "Intermediate", "Seasoned", "Experienced", "Advanced", "Senior", "Expert"] %>

<!-- <div class="container form"> -->
  <div class="form-container">
    <h1 class='text-center'>CREATE A NEW JOB</h1>
    <hr style="width: 20em;">
      <%= simple_form_for([:client, @job]) do |f| %>
      <%= f.error_notification %>

      <%= f.input :title, placeholder: "What is the job title?" %>
      <%= f.input :description, placeholder: "Tell some details about the job" %>
      <%= f.input :budget, placeholder: "Per month" %>
      <%= f.input :difficulty_level, :collection => @level.map(&:capitalize) %>
      <%= f.input :request_type, :collection => @categories %>
      <%= f.input :duration, placeholder: "In months" %>
      <%= f.input :start_date %>
      <%= f.input :deadline %>
      <!-- <p id="duration-form">Duration: </p> -->
      <%= f.submit class: "btn btn-primary" %>
      <% end %>

  </div>
<!-- </div> -->
