<div class="banner-darkblue">
  <div class="container is-small">
    <h1>List of applications</h1>
  </div>
</div>


<div class="wrapper">

  <div class="container is-small light-grey">
    <div class="application">
      <div class="candidate-show">
        <div><%= @application.developer.first_name %></div>
        <div><%= @application.developer.last_name %></div>
        <%= cl_image_tag @application.developer.photo, height: 50, width: 50, crop: :fill, class: "avatar-large" %>
      </div>
      <div class="motivation">

        <h4>Motivation</h4>
        <p><%= @application.motivation %></p>
        <div class="apply-details">
          <ul class="list-inline">
            <li>
              <h4>Price per hour</h4>
            </li>
            <li>
              <p><%= @application.price %> </p>
            </li>
            <li><h4>Status</h4></li>
            <li><p><%= @application.status %></p></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
