<div class="wrapper-darkblue">
  <div class="container">
    <div class="job">
      <div class="title">
        <h2> <%= @job.title %> </h2>
        <p><%= @full_name %></p>
      </div>
      <div class="apply">
        <%= link_to "Apply", new_job_application_path(@job), class: "btn btn-primary" %>

      </div>
    </div>
  </div>
</div>

<div class="wrapper">

  <div class="container light-grey">
    <div class="text-center">

      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <div class="card-job">
          <h4>Start date </h4>
            <%= @job.start_date %>
          </div>
        </div>

        <div class="col-xs-12 col-sm-3">
          <div class="card-job">
            <h4>Deadline </h4>
            <%= @job.deadline %>
          </div>
        </div>

        <div class="col-xs-12 col-sm-3">
          <div class="card-job">
            <h4>Budget </h4>
            <i class="fa fa-euro"> <%= @job.budget %> </i>
          </div>
        </div>

        <div class="col-xs-12 col-sm-3">
          <div class="card-job">
            <h4>Difficulty </h4>
            <%= @job.difficulty_level %>
          </div>
        </div>

      </div>
      <hr>
    </div>
  </div>
</div>

<div class="wrapper">

  <div class="container light-grey">
    <div class="row">
      <div class="col-xs-12 col-sm-5">
        <h3 class="text-center">About</h3>
        <div class="job-about">
          <div class="image">
              <%= cl_image_tag @client.photo, crop: :fill, class: "avatar-xlarge" %>
              <br>
              <p> <strong>City</strong> </p>
              <p> <%= @client.city %> </p>

              <i class="fa fa-envelope"> <%= @client.email %> </i>
          </div>

          <div class="details">
              <h4>Contact details</h4>

              <p> <strong>Company</strong> </p>
              <p><%= @client.company %></p>
              <p> <strong>Address</strong> </p>
              <p><%= @client.address %></p>
              <p> <strong>Name</strong> </p>
              <p><%= @full_name %></p>
              <br>
          </div>
        </div>
      </div>


      <div class="col-xs-12 col-sm-7">
        <h3 class="text-center">Description</h3>
        <div class="job-description">
          <%= @job.description %>
        </div>
      </div>
    </div>
  </div>
</div>


