<!-- <div class="footer-container">
  <ul class="footer">
    <li class="footer-item">Contact</li>
    <li class="footer-item">About</li>
    <li class="footer-item"><i class="fa fa-facebook-square"></i></li>
    <li class="footer-item"><i class="fa fa-twitter-square"></i></li>
    <li class="footer-item"><i class="fa fa-github-square"></i></li>
  </ul>
</div>
 -->
<div class="footer-container">
  <div class="container">
    <div class="footer-content">
      <div class="footer-info">
        <h4>Info</h4>
        <ul class="list-style">
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'List jobs', jobs_path %></li>
          <li><%= link_to 'List developers',  developers_path %></li>
        </ul>
      </div>

      <div class="footer-info">
        <h4>Client</h4>
        <ul class="list-style">
          <li><a href="#" data-toggle="modal" data-target="#login-modal-client">Log-in</a>
          <%= render 'shared/modal_client_login' %></li>
          <li><a href="#" data-toggle="modal" data-target="#signup-modal-client">Sign-up</a>
          <%= render 'shared/modal_client_signup' %></li>
          <li><%= link_to 'Profile', client_profile_path %></li>
        </ul>
      </div>

      <div class="footer-info">
        <h4>Developer</h4>
        <ul class="list-style">
          <li><a href="#" data-toggle="modal" data-target="#login-modal-developer">Log-in</a>
          <%= render 'shared/modal_developer_login' %></li>
          <li><a href="#" data-toggle="modal" data-target="#signup-modal-developer">Sign-up</a>
          <%= render 'shared/modal_developer_signup' %></li>
          <li><%= link_to 'Profile', developer_profile_path %></li>
        </ul>
      </div>
      <!-- <special>
      ************************************************************************
          Special thanks to the Flamyngo team for inspiration <3
      ************************************************************************
        </special> -->
    </div>
  </div>
</div>
