<!-- <div class="footer-container">
  <ul class="footer">
    <li class="footer-item">Contact</li>
    <li class="footer-item">About</li>
    <li class="footer-item"><i class="fa fa-facebook-square"></i></li>
    <li class="footer-item"><i class="fa fa-twitter-square"></i></li>
    <li class="footer-item"><i class="fa fa-github-square"></i></li>
  </ul>
</div>
 -->
<div class="footer-container">
  <div class="container">
    <div class="footer-content">
      <div class="footer-info">
        <h4>Info</h4>
        <ul class="list-style">
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'List jobs', jobs_path %></li>
          <li><%= link_to 'List developers',  developers_path %></li>
        </ul>
      </div>

      <div class="footer-info">
        <h4>Client</h4>
        <ul class="list-style">
          <li><%= link_to 'Log-in', new_client_session_path %></li>
          <li><%= link_to 'Sign-up', new_client_registration_path %></li>
          <li><%= link_to 'Profile', client_profile_path %></li>
        </ul>
      </div>

      <div class="footer-info">
        <h4>Developer</h4>
        <ul class="list-style">
          <li><%= link_to 'Log-in', new_developer_session_path %></li>
          <li><%= link_to 'Sign-up', new_developer_registration_path %></li>
          <li><%= link_to 'Profile', developer_profile_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
