<div class="modal fade" id="login-modal-client" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="loginmodal-container">
      <div class="login-content">
        <h2 style="margin-top: 11px;">Log-in Client</h2>
        <hr style="border-top: solid 1px #DADADA; width: 100%;">
        <%= simple_form_for(:client, url: session_path(:client)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email, required: false, autofocus: true, :input_html => {:style=> 'text-align: center; margin: 0 auto;'} %>
          <%= f.input :password, required: false, :input_html => {:style=> 'text-align: center; margin: 0 auto;'} %>
        </div>


        <div class="form-actions">
          <%= f.button :submit, "Log in", class: "btn btn-success" %>
        </div>
          <%= f.input :remember_me, as: :boolean %>
        <% end %>

        <hr style="border-top: solid 1px #DADADA; width: 100%;">
        <ul class="list-inline options">
          <li>
            <%= link_to "Sign up", new_registration_path(:client) %>
          </li>

          <li>
            <%= link_to "Forgot your password?", new_password_path(:client) %>
          </li>
        </ul>
        <% # render "devise/shared/links", resource_name: :client, devise_mapping: Devise.mappings[:client] %>
      </div>
    </div>
  </div>
</div>
