<div class="modal fade" id="signup-modal-developer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="loginmodal-container">
      <div class="login-content">
        <h2 style="margin-top: 11px;">Sign-up developer</h2>
        <hr style="border-top: solid 1px #DADADA; width: 100%;">

        <%= link_to omniauth_authorize_path(:developer, :linkedin), class: 'btn-linkedin-link' do %>
          <div class="btn-linkedin">
            <span><i class="fa fa-linkedin"></i><p style="display: inline-block;">Continue with LinkedIn</p></span>
          </div>
        <% end %>
        <hr style="border-top: solid 1px #DADADA; width: 100%;">

        <%= simple_form_for(:developer, url: registration_path(:developer)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :first_name, required: true, autofocus: true, label: false, placeholder: 'First name', :input_html => {class: 'name'} %>

          <%= f.input :last_name, required: true, autofocus: true, label: false, placeholder: 'Last name', :input_html => {class: 'name'} %>
          <%= f.input :email, required: true, autofocus: true, label: false, placeholder: 'E-mail', :input_html => {class: 'email'} %>
          <%= f.input :password, required: true, label: false, placeholder: 'Password', hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), :input_html => {class: 'password'} %>
          <%= f.input :password_confirmation, required: true, label: false, placeholder: 'Password confirmation', :input_html => {class: 'password-confirm'} %>
           <div class="upload-form">
            <div style="display: none;">
            <%= f.input_field :photo, required: true, as: :file, label: false, placeholder: 'Your Photo' %>
            <%= f.input :photo_cache, as: :hidden %>
            </div>
            <span>
              <p style="display: inline-block;">Your photo:</p><label for="client_photo">Choose image</label>
            </span>
          </div>
        </div>


        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: "btn btn-success" %>
        </div>
          <%= f.input :remember_me, as: :boolean %>
        <% end %>

        <hr style="border-top: solid 1px #DADADA; width: 100%;">
        <ul class="list-inline options">
          <li>
            Already have an account? <%= link_to "Log in", new_session_path(:developer) %>
          </li>
        </ul>
        <% # render "devise/shared/links", resource_name: :developer, devise_mapping: Devise.mappings[:developer] %>
      </div>
    </div>
  </div>
</div>
