<div class="wrapper-home-page">
  <div class="landing-page">
    <div class="client-section">
      <div class="section-content">
        <p style="margin-bottom: 0px;">Awesome</p>
        <h1 style="margin-top: 0px;">Client?</h1>
        <hr>
        <p class="section-description">A new website is just a click away.</p>
        <%= link_to "Post a job ", new_client_job_path, class: 'btn btn-danger' %>

        <a href="#client" class="info-icon"><i class="fa fa-info-circle fa-2x info-client"></i></a>
        <%= image_tag 'client.png' %>
      </div>
    </div>

    <div class="developer-section">
      <div class="section-content">
        <p style="margin-bottom: 0px;">Kick-ass</p>
        <h1 style="margin-top: 0px;">Developer?</h1>
        <hr>
        <p class="section-description">Epic new jobs start here, from beginners to experts.</p>
        <%= link_to "Search Jobs", jobs_path, class: 'btn btn-danger' %>

        <a href="#developer" class="info-icon"><i class="fa fa-info-circle fa-2x info-developer"></i></a>
        <%= image_tag 'developer.png' %>
      </div>
    </div>
  </div>
</div>


<div class="wrapper-info">
  <div class="landing-client" id="client">

    <div class="client-info">
      <div class="client-info-left">
        <h2>Find the right the developer for the right job. See how it works.</h2>
      </div>

      <div class="client-info-right">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident eius harum facere soluta sapiente est tempora ipsam rem quibusdam nihil accusantium quod eos dolorum similique, voluptate ipsa laudantium. Assumenda, voluptas!</p>
      </div>
    </div>

    <hr style="
    border-top: solid 2px rgb(48,43,44);
    width: 80em;">

    <ul class="list-images text-center">
      <li>
        <h3>You have an idea!</h3>
        <%= image_tag 'idea.png'  %>
      </li>

      <li>
        <h3>Where to start?</h3>
        <%= image_tag 'no-clue.png'  %>
      </li>
    </ul>
    <ul class="list-images text-center">
      <li>
        <h3>TJENGA!</h3>
        <%= image_tag 'find-tjenga.png'  %>
      </li>

      <li>
        <h3>Post your job!</h3>
        <%= image_tag 'love-tjenga.png'  %>
      </li>
    </ul>
  </div>

  <div class="landing-developer" id="developer">
  </div>
</div>

<!-- <div class="wrapper-footer">

</div>
 -->
