<div class="wrapper-home-page">
  <div class="landing-page">
    <div class="client-section">
      <div class="section-content">
        <p style="margin-bottom: 0px;">Awesome</p>
        <h1 style="margin-top: 0px;">Client?</h1>
        <hr>
        <p class="section-description">A new website is just a click away.</p>
        <%= link_to "Post a job ", new_client_job_path, class: 'btn btn-danger' %>

        <!-- <a href="#client" class="info-icon"><i class="fa fa-info-circle fa-2x info-client"></i></a> -->
        <a href="#client" id="client-info"><%= image_tag 'client.png' %></a>

      </div>
    </div>

    <div class="developer-section">
      <div class="section-content">
        <p style="margin-bottom: 0px;">Kick-ass</p>
        <h1 style="margin-top: 0px;">Developer?</h1>
        <hr>
        <p class="section-description">Epic new jobs start here, from beginners to experts.</p>
        <%= link_to "Search Jobs", jobs_path, class: 'btn btn-danger' %>

        <!-- <a href="#developer" class="info-icon"><i class="fa fa-info-circle fa-2x info-developer"></i></a> -->
        <a href="#developer" id="developer-info"><%= image_tag 'developer.png'%></a>

      </div>
    </div>
  </div>
</div>

<!-- Client infomation -->
<div class="landing-client" id="client">
  <div class="wrapper-client-info">
    <div class="container">
      <div class="client-info">
        <div class="client-info-left">
          <h2 style="margin-top: 0px;">Find the right the developer for the right job.</h2>
        </div>

        <div class="client-info-right">
          <p>Fixie normcore mixtape, raw denim shoreditch venmo occupy pop-up cronut godard kombucha man bun. Selfies hoodie farm-to-table four loko cred marfa.</p>
        </div>
      </div>

      <hr style="border-top: solid 2px rgb(48,43,44); width: 40em;">

      <div class="client-images">
        <div class="image-description">
          <div class="description-left">
            <h3>You have an idea!</h3>
            <p>Readymade everyday carry venmo lomo, dreamcatcher taxidermy pitchfork seitan tacos yuccie organic kinfolk thundercats umami art party. Kickstarter dreamcatcher tofu street art hoodie, retro typewriter vegan tote bag sustainable deep v.</p>
          </div>

          <div class="description-right">
            <%= image_tag 'idea.png'  %>
          </div>
        </div>
      </div>

      <div class="client-images">
        <div class="image-description">
          <div class="description-left">
            <%= image_tag 'no-clue.png'  %>
          </div>

          <div class="description-right">
            <h3>Where to start?</h3>
            <p>Lo-fi sriracha kogi brooklyn biodiesel fanny pack, gochujang +1 meditation schlitz shoreditch williamsburg four dollar toast semiotics kombucha. Seitan chillwave mixtape freegan chambray shabby chic, YOLO messenger bag green juice schlitz 90's.</p>
          </div>
        </div>
      </div>

      <div class="client-images">
        <div class="image-description">
          <div class="description-left">
            <h3>TJENGA!</h3>
            <p>Dreamcatcher 8-bit sriracha freegan, wayfarers cardigan cold-pressed. Cray gentrify tumblr, fingerstache lumbersexual selfies flannel farm-to-table post-ironic salvia street art man bun bespoke mustache. </p>
          </div>

          <div class="description-right">
            <%= image_tag 'find-tjenga.png'  %>
          </div>
        </div>
      </div>

       <div class="client-images">
        <div class="image-description">
          <div class="description-left">
            <%= image_tag 'love-tjenga.png'  %>
          </div>

          <div class="description-right">
            <h3>Post your job!</h3>
            <p>Pitchfork paleo umami cardigan chartreuse, try-hard gentrify pork belly 90's ennui asymmetrical ethical seitan. Tattooed bespoke echo park occupy, gochujang affogato cronut paleo gastropub authentic shoreditch bicycle rights.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <hr>

      <ul class="list-images text-center">
        <li>
          <h3>You have an idea!</h3>
          <%= image_tag 'idea.png'  %>
        </li>

        <li>
          <h3>Where to start?</h3>
          <%= image_tag 'no-clue.png'  %>
        </li>
      </ul>
      <ul class="list-images text-center">
        <li>
          <h3>TJENGA!</h3>
          <%= image_tag 'find-tjenga.png'  %>
        </li>

        <li>
          <h3>Post your job!</h3>
          <%= image_tag 'love-tjenga.png'  %>
        </li>
      </ul>
    </div>
 -->

<div class="landing-developer" id="developer">
  <div class="wrapper-developer-info">
    <div class="container">
      <h2 class="text-center">Hello Developer</h2>
    </div>
  </div>
</div>

