<div class="job-wrapper-header">
  <div class="index-job-flexbox">
    <div class="index-job-img">
      <%= image_tag('find-tjenga.png', class: "love") %>
    </div>
    <div class="index-job">
      <h1>List of applications </h1>
    </div>
  </div>
</div>

<div class="wrapper">

  <div class="container is-small light-grey">
    <% @applications.each do |application| %>
    <div class="application">
    <div class="candidate-index">
        <%= cl_image_tag application.developer.photo, height: 100, width: 100, crop: :fill, class: "avatar-xlarge" %>
        <h4><%= application.developer.first_name %> <%= application.developer.last_name %></h4>
        <%= link_to "View profile", developer_path(application.developer.id), class: "btn btn-primary" %>
        <%= mail_to application.developer.email, "Contact", class: "btn btn-primary" %>
      </div>
      <div class="motivation-details">
        <div class="motivation">
          <h4>Motivation</h4>
        </div>
        <p class="dont-break-out"><%= application.motivation %></p>
        <div class="apply-details">
          <div class="apply-detail">
            <h4>Price per month:</h4><p style="display: inline-block;"><%= application.price %></p>
          </div>

          <div class="apply-detail">
            <h4>Status:</h4><p style="display: inline-block;"><%= application.status %></p>
          </div>

          <div class="apply-detail">
            <h4>Created at:</h4><p style="display: inline-block;"><%= application.created_at.strftime('%b %d, %Y') %></p>
          </div>
        </div>
      </div>
      <div class="show">
        <%= link_to "Details", client_application_path(application), class: "btn btn-primary" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
