<div class="job-wrapper-header">
  <div class="index-job-flexbox">
    <div class="index-job-img">
      <%= image_tag('find-tjenga.png', class: "love") %>
    </div>
    <div class="index-job">
      <h1>List of applications </h1>
    </div>
  </div>
</div>

<div class="wrapper">

  <div class="container is-small light-grey">
    <% @applications.each do |application| %>
    <div class="application">
    <div class="candidate-index">
        <%= cl_image_tag application.developer.photo, height: 100, width: 100, crop: :fill, class: "avatar-xlarge" %>
        <h4><%= application.developer.first_name %> <%= application.developer.last_name %></h4>
        <%= link_to "View profile", developer_path(application.developer.id), class: "btn btn-primary" %>
        <%= mail_to application.developer.email, "Contact", class: "btn btn-primary" %>
      </div>
      <div class="motivation-details">
        <div class="motivation">
          <h4>Motivation</h4>
        </div>
        <p class="dont-break-out"><%= application.motivation %></p>
        <div class="apply-details">
            <div>Price per hour <span style="font-weight: lighter"><%= application.price %></span></div>
            <div>Status <span style="font-weight: lighter"><%= application.status %></span></div>
            <div style="margin-top: 10px;"><%= application.created_at.strftime('%b %d, %Y') %>s</div>
        </div>
      </div>
      <div class="show">
        <%= link_to "Details", client_application_path(application), class: "btn btn-primary" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
