
<div class="apply-banner">
  <div class="container is-small">
    <div class="dev-candidate">
      <div class="candidate-img">
        <%= cl_image_tag @application.developer.photo, height: 100, width: 100, crop: :fill, class: "avatar-xlarge" %>
      </div>
      <div class="candidate-name">
        <%= link_to developer_path(@developer) do %>
        <h2><%= @application.developer.first_name %> <%= @application.developer.last_name %></h2>
        <% end %>
        <p> Applied for <%= @application.job.title %></p>
        <p><%= @application.created_at.strftime('%b %d, %Y') %></p>

      </div>
    </div>
    <% if @application.status == "Pending" %>

    <div class="details-candidate">
      <div class="accept">
      <%= link_to "Accept", accept_client_application_path(@application.id), method: :patch, class: "btn btn-primary", data: { confirm: "Are you sure?" } %>
      </div>

      <div class="decline">
        <%= link_to "Decline", decline_client_application_path(@application.id), method: :patch, class: "btn btn-primary", data: { confirm: "Are you sure?" }%>
      </div>

      <div class="back">
        <%= link_to "Back", client_applications_path, class: "btn btn-primary" %>
      </div>
    </div>
    <div class="notice">
      <p> Please accept or deny this application within two weeks. </p>
    </div>
    <% end %>
  </div>
</div>


<div class="wrapper">

  <div class="container is-small light-grey">
    <div class="text-center">

      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="card-job">
            <h4>Price per hour </h4>
            <p><i class="fa fa-euro"></i> <%= @application.price %> </p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6">
          <div class="card-job">
            <h4>Status </h4>
            <p><%= @application.status %></p>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>


<div class="wrapper">

  <div class="container is-small light-grey">
    <div class="application">
      <div class="motivation">
        <h3 class="text-center">Motivation</h3>
        <p class="dont-break-out"><%= @application.motivation %></p>
      </div>
    </div>
  </div>
</div>
