<% @status = ["Yes", "No"] %>
<div class="container form">
  <div class="form-container">
    <h1 class='text-center'>Edit profile</h1>
    <hr style="width: 20em;">
    <%= simple_form_for(@developer, url: developer_profile_path) do |f| %>
    <%= f.error_notification %>

    <%= f.input :first_name  %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :price_per_hour %>
    <%= f.input :phone_number %>
    <%= f.input :city %>
    <%= f.input :address %>
    <%#= f.input :expertise %>
    <%= f.input :availability, :collection => @status %>
      <div>
        <%= simple_fields_for :programming_languages do |programming_language| %>
          <%= render 'programming_language_fields', f: programming_language %>
          <%= link_to_add_association 'add programming language', f, :programming_languages %>
        <% end %>
      </div>
      <div>
        <%= simple_fields_for :tools do |tool| %>
          <%= render 'tool_fields', f: tool %>
          <%= link_to_add_association 'add tool', f, :tools %>
        <% end %>
      </div>
    <%= f.submit class: "btn btn-primary", :input_html => {style: 'width: 20em; margin: 0 auto;'} %>
    <% end %>
  </div>
</div>

