<div class="dev-banner">
  <div class="container text-center">
    <h3><%= @developer.first_name %> <%= @developer.last_name %></h3>
    <hr style="border-top: 1px solid grey;">
    <div class="developer-header">
      <div class="developer-info">
       <div class="photo">
        <%= cl_image_tag @developer.photo, height: 100, width: 100, crop: :fill, class: "avatar-xlarge" %>
      </div>
    </div>

    <div class="developer-info">
      <div class="dev-name">
        <em><p>Expertise:</p></em>
        <p><%= @developer.expertise.capitalize %></p>
        <em><p>Availability:</p></em>
        <p><%= @developer.availability.capitalize %></p>
      </div>
    </div>

    <div class="developer-info">
      <div class="dev-details">

        <h3 style="margin-top: 0px;">Contact Details</h3>
        <p><i class="fa fa-envelope-o"></i><%= @developer.email %> </p>
        <p><i class="fa fa-phone"></i><%= @developer.phone_number %></p>
      </div>
    </div>


    <div class="developer-info">
      <% if developer_signed_in? || client_signed_in? %>
      <div class="dev-btn text-center">
        <%= link_to "Edit profile", edit_developer_profile_path, class: "btn btn-default" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>

<div class="wrapper">

  <div class="container is-small light-grey">
    <div class="text-center">

      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="card-info">
          <h4>Languages </h4>
            <div class="card-dev">
              <% @developer.programming_languages.each do |pl| %>
              <p><%= pl.name.capitalize %></p>
              <hr>
              <% end %>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4">
          <div class="card-info">
            <h4>Tools </h4>
            <div class="card-dev">
              <% @developer.tools.each do |tool| %>
              <p><%= tool.name.capitalize %></p>
              <hr>
              <% end %>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4">
          <div class="card-info">
            <h4>Price per hour </h4>
            <div class="card-dev" style="padding-top: 0px;background: #303841;color: white;">
              <p style="padding: 10px;">
                <i class="fa fa-euro"></i> <%= @developer.price_per_hour %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>


<div class="wrapper-work">
  <div class="container is-small light-grey">
    <h3 class="text-center">Projects</h3>
    <hr>
    <div class="work">
     <% @works.each do |work| %>
     <div class="work-item">
       <div class="work-image", style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= cl_image_path work.photo, crop: :fill %>');">
         <div class="work-description">
           <%= link_to work.website_url do %>
           <h4><%= work.title %></h4>
           <% end %>
           <%= work.description %>
         </div>
       </div>
     </div>
     <% end %>
   </div>
   <div class="text-center btn-padding">
     <%= link_to "Add new project", new_developer_profile_work_path, class: "btn btn-primary" %>
   </div>
 </div>

<!-- REVIEWS -->
<% if @reviews.size > 0 %>
  <div class="wrapper">
    <div class="container is-small light-grey">
      <h3 class="text-center">Reviews</h3>
      <hr>
      <% @reviews.each do |review| %>
        <div class="review">
          <div class="review-image">
            <%= cl_image_tag review.author.photo, class: "avatar-large" %>
          </div>
          <div class="review-body">
            <% review.rating.times do %>
              <i class="fa fa-star"></i>
            <% end %>

            <% (5 - review.rating).times do %>
              <i class="fa fa-star-o"></i>
            <% end %>
            <p><%= review.description %></p>
          </div>
        </div>
      <% end %>

      <% else %>
      <div class="wrapper">
        <div class="container is-small light-grey">
          <h3 class="text-center">Reviews</h3>
          <div class="review-empty">
           <p>No reviews yet. You should apply!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<!-- RECOMMENDATIONS -->
<div class="wrapper">
  <div class="container is-small light-grey">
    <% if @recommendations.size > 0 %>
        <h3 class="text-center">Recommendations</h3>
        <%  @recommendations.each do |recommendation|%>
          <div class="recommendation">

            <div class="recommendation-left">
                <div class="recommendation-left-container">
                  <div class="recommendation-left-image">
                      <%= cl_image_tag recommendation.author.photo, class: "avatar-large" %>
                  </div>

                  <div class="recommendation-left-info">
                    <p><strong><%= recommendation.author.first_name %> <%= recommendation.author.last_name %></strong></p>
                    <p style="font-weight: 300;"><%= recommendation.author_type %></p>
                  </div>
                </div>
            </div>

            <div class="recommendation-right">
              <i class="fa fa-quote-left"></i>
              <p><%= recommendation.content  %></p>
              <!-- <i class="fa fa-quote-right"></i> -->
            </div>

          </div>
        <% end %>
      <% else %>
        <h3 class="text-center">Recommendations</h3>
        <div class="review-empty">
          <p>No recommendations yet. Ask people you have worked with to recommend you!</p>
        </div>
    <% end %>
  </div>
</div>

