<div class="dev-banner">

<div class="container">

  <h1> <%= @fullname %></h1>
  <ul>
    <h4>City</h4>
    <li> <%= @developer.city %> </li>
    <h4>Address</h4>
    <li> <%= @developer.address %> </li>
    <h4>Email</h4>
    <li> <%= @developer.email %> </li>
    <h4>Expertise</h4>
    <li> <%= @developer.expertise %> </li>
    <h4>Availability</h4>
    <li> <%= @developer.availability %> </li>
    <h4>Programming Languages</h4>
    <% @developer.programming_languages.each do |pl| %>
          <li>name: <%= pl.name %></li>
          <li>level: <%= pl.level %></li>
          <hr>
        <% end %>
  </ul>

</div>

  <%= link_to "Edit profile", edit_developer_profile_path %>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-4">
      <h2>Reviews</h2>
      <% @reviews.each do |review| %>
      <div class="product">
        <%= cl_image_tag @client.photo, class: "product-image hidden-xs" %>
      </div>
      <div class="product-body">
        <% review.rating.times do %>
        <i class="fa fa-star"></i>
        <% end %>
        <% (5 - review.rating).times do %>
        <i class="fa fa-star-o"></i>
        <% end %>
        <%= review.description %>
        <% end %>
      </div>
    </div>
  </div>
</div>


