<div class="container">

  <h1>Welcome To your profile <%= @developer.first_name %></h1>
  <ul>
    <h4>City</h4>
    <li> <%= @developer.city %> </li>
    <h4>Address</h4>
    <li> <%= @developer.address %> </li>
    <h4>Email</h4>
    <li> <%= @developer.email %> </li>
    <h4>Expertise</h4>
    <li> <%= @developer.expertise %> </li>
    <h4>Availability</h4>
    <li> <%= @developer.availability %> </li>
  </ul>


  <%= link_to "Edit profile", edit_developer_profile_path %>


  <h2>Reviews</h2>
  <% @reviews.current_developer.each do |review| %>
  <% review.rating.times do %>
  <i class="fa fa-star"></i>
  <% end %>
  <% (5 - review.rating).times do %>
  <i class="fa fa-star-o"></i>
  <% end %>
  <%= review.description %>
  <% end %>
</div>


