<div class="dev-banner">

  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-1 col-sm-offset-2">
       <div class="photo">
        <%= cl_image_tag @developer.photo, class: "avatar-xlarge" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="dev-name">
        <h3><%= @developer.first_name %> <%= @developer.last_name %></h3>
        <p><%= @developer.expertise.capitalize %></p>
        <p><%= @developer.availability.capitalize %></p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="dev-details">

        <h3>Contact Details</h3>
        <p><%= @developer.address.capitalize %> </p>
        <p> <%= @developer.city.capitalize %> </p>
        <p> <%= @developer.email %> </p>

      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <% if developer_signed_in? || client_signed_in? %>
      <div class="dev-btn text-center">
        <%= link_to "Edit profile", edit_developer_profile_path, class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>


<div class="container">
  <ul>
    <h4>Programming Languages</h4>
    <% @developer.programming_languages.each do |pl| %>
          <li>name: <%= pl.name %></li>
          <li>level: <%= pl.level %></li>
          <hr>
        <% end %>
  </ul>

</div>
<div class="container">
      <h2 class="text-center">Reviews</h2>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <% @reviews.each do |review| %>
      <div class="product">
        <%= cl_image_tag @client.photo, class: "product-image hidden-xs" %>
      </div>
      <div class="product-body">
        <% review.rating.times do %>
        <i class="fa fa-star"></i>
        <% end %>
        <% (5 - review.rating).times do %>
        <i class="fa fa-star-o"></i>
        <% end %>
        <%= review.description %>
        <% end %>
      </div>
    </div>
  </div>
</div>


